@media only screen and (max-width:1000px){
    .why{
        display: flex;
        flex-direction: column;
    }

    .csauthor img{
        text-align: center;
    }

    .csauthor-img{
        text-align: center;
    }
    
    .why-text{
        margin-left: 20%;
        margin-right: 20%;
    }

    .log-sub_setting{
        margin-left: 20%;
        margin-right: 10%;
        flex-direction: column;
    }

    .login{
        margin-bottom: 20px;
    }
        
    
}

@media only screen and (max-width:750px){
    .hed-titel{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .conteiner-hed {
        margin-top: 40px;
    }

    .simpy img{
        width: 90% ;
        height: 50% ;
    }

    
}

@media only screen and (max-width:650px){
    .footer-setting{
        display: flex;
        flex-direction: column;
    }

    .about {
        
        font-size: 22px;
        line-height: 33px;
        font-weight: 300;
        color: #ffffff;
        border: none;
    }
    
    .about-us {
        text-align: center;
        display: none;
        position: relative;
        display: inline-block;
    }
    
    .menu-about {
        margin: 0;
        transform: translate(-50%, -50%);
        top: 330%; 
        left: 50%;
        display: none;
        position: absolute;
        background-color: #212121;
        opacity: 0.97;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .menu-about a {
        width: 100px;
        opacity: 0.5;
        font-size: 13px;
        line-height: 22px;
        font-weight: 400;
        color: #ffffff;
        text-decoration: none;
        display: block;
    }
    
    .menu-about a:hover {background-color: #ddd;}
    
    .about-us:hover .menu-about {display: block;}
    

    .csauthor{
        width: 100%;
    }

    .lorem-setting{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .repositive{
        display: flex;
        justify-content: center;
    }

    .commerce{
        display: flex;
        justify-content: center;
    }

    .daly{
        display: flex;
        justify-content: center;
    }

    .searc{
        display: flex;
        justify-content: center;
    }



    .Testimoanials {
        
        font-size: 22px;
        line-height: 33px;
        font-weight: 300;
        color: #ffffff;
        border: none;
    }
    
    .test {
        display: none;
        position: relative;
        display: inline-block;
        text-align: center;
    }
    
    .test-menu {
        margin: 0;
        transform: translate(-50%, -50%);
        top: 225%; 
        left: 50%;
        display: none;
        position: absolute;
        background-color: #212121;
        opacity: 0.97;
        min-width: 70px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .test-menu p {
        width:276px;
        opacity: 0.5;
        font-size: 13px;
        line-height: 22px;
        font-weight: 400;
        color: #ffffff;
        text-decoration: none;
        display: block;
    }
    
    .test-menu a:hover {background-color: #ddd;}
    
    .test:hover .test-menu {display: block;}

    .footer-img{
        text-align: center;
    }

    .leooooo{
        margin-left: 50px;
    }

}

@media only screen and (max-width:560px){
    .hed{
        display: flex;
        flex-direction: column;
    }

    .introducing{
        text-align: center;
    }

    .log-sub_setting{
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width:600px){
    .login{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .login input{
        width: 90%;
        height: 35px;
        
    }

    .login button{
        margin-left: 10px;
        margin-bottom: 5px;
    }

    .subscribe{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .subscribe input{
        width: 90%;
        height: 35px;
    }

    .subscribe button{
        margin-left: 10px;
        margin-bottom: 5px;
    }
}

